<!DOCTYPE html>
<html>

<head>
    <title>Say Fuzzy Pickles!</title>
    <link rel="stylesheet" href="/administrative/public/bootstrap.min.css">
    <link rel="stylesheet" href="/administrative/public/site.css">
</head>

<body>
    <div class="container">
        <h1>Say Fuzzy Pickles!</h1>
        <br>
        <h4>Administrative panel.</h4>
        <hr>
        <div class="editor-area">
            <button class="btn btn-light" id="new-toggle">Write a new article.</button>
        </div>
        <hr>
        <div class="row">
                <div class="col-sm-8 mt-5 mb-5">
                        <h5>Edit or delete a blog entry.</h5>
                        <div id="listofarticles"></div>
                </div>
            </div>
    </div>
    <hr>
    <div class="container">
        <footer>
            <p>© 2018 Christina Terradista</p>
        </footer>
    </div>

</body>
<script src="/administrative/public/jquery.min.js"></script>
<script src="/administrative/public/site.js"></script>
</html>