<!DOCTYPE html>
<html>

<head>
    <title>Say Fuzzy Pickles!</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet"> 
</head>

<body>
    <h1 class="text-center top">Say Fuzzy Pickles!</h1>
    <br>
    <h4 class="text-center top">Musings from a tech geek.</h4>
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-sm-8 ml-5 mr-5 mt-5 mb-5">
                    <p>In officia voluptate exercitation aliqua culpa veniam consectetur laboris veniam ipsum anim exercitation.
                        Cillum proident laborum id incididunt non excepteur. Veniam velit adipisicing nulla culpa id eu.</p>

                    <p>Dolore pariatur minim adipisicing non laboris dolor est et aliqua. Labore laboris cupidatat do veniam
                        esse exercitation voluptate. Eiusmod ad officia est ea. Id excepteur ipsum eiusmod voluptate consectetur
                        exercitation.</p>

                    <p>Tempor dolor enim voluptate adipisicing magna. Aute commodo labore proident dolor velit et aliquip cupidatat
                        et amet. Adipisicing occaecat commodo sint culpa consequat eu excepteur. Do ipsum et fugiat officia
                        aliqua eiusmod ullamco irure.</p>

                    <p>Incididunt excepteur laborum id proident. Ea commodo nulla id ullamco enim irure anim mollit ipsum. Reprehenderit
                        veniam dolor eiusmod pariatur et occaecat ea mollit exercitation fugiat do non ipsum. Incididunt
                        eiusmod mollit sit aliqua officia laboris velit enim ad reprehenderit exercitation. Nulla voluptate
                        non ipsum proident tempor pariatur.</p>
                </div>
                <div class="col-sm">
                    <p>
                        nav
                    </p>
                </div>
            </div>
        </div>

        <hr>
    </div>
    <div class="container">
        <footer ">
            <p>Christina Terradista</p>
        </footer>
    </div>

</body>

<script src="/js/bootstrap.bundle.js " />
<script src="/js/jquery.js " />

</html>